<div>
  <h1>User Login</h1>
  <input type="text" name="username" [(ngModel)]="_loginData.userName">
  <input type="password" name="password" [(ngModel)]="_loginData.password">
  <button *ngIf="!_sessionService.loggedIn" (click)="logIn()">Log in</button>
  <button *ngIf="_sessionService.loggedIn" (click)="logOut()">Log out</button>
  <div class="extra-info" *ngIf="_sessionService.loggedIn">
    <p>Welcome back, {{_sessionService.user.username}}.</p>
    <p>Your token is: {{_sessionService.userLoginData.id}}.</p>
  </div>
</div>