<div>
  <h1>User Login</h1>
  <input type="text" name="username" [(ngModel)]="_loginData.userName">
  <input type="password" name="password" [(ngModel)]="_loginData.password">
  <div *ngIf="!_sessionService.loggedIn" class="login">
    <button class="login-button" (click)="logIn()">Log in</button>
    <a href="{{_baseUrl}}/auth/google">Google login</a>
    <a href="{{_baseUrl}}/auth/facebook">Facebook login</a>
  </div>
  <button class="logout-button" *ngIf="_sessionService.loggedIn" (click)="logOut()">Log out</button>
  <div class="extra-info" *ngIf="_sessionService.loggedIn">
    <button (click)="_sessionService.connectWithGoogle()">Connect with google</button>
    <p>Welcome back, {{_sessionService.user | json}}.</p>
    <p>Your token is: {{_sessionService.authToken}}.</p>
  
  </div>  
</div>