#home-wrapper {
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#top-controls {
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    button {
        width: 100px;
        float: right;
        clear: both;
    }
}

#dark-mask {
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparentize( black, 0.3);
    position: absolute;
}

%home-window {
    z-index: 5;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    transition: visibility 1s, width 1s, height 1s, opacity 1s;
    &.active {
        visibility: visible;
        opacity: 1;
        width: 50vw;
        height: 30vh;
        min-height: 150px;
    }
}

#login-window {
    @extend %home-window;
}

#hall-of-fame-window {
    @extend %home-window;
    &.active {
        visibility: visible;
        opacity: 1;
        width: 70vw;
        height: 90vh;
    }
}