<div id="home-wrapper" [ngStyle]="{'background-image': 'url(' + lastPicture + ')'}">
    <div id="dark-mask" (click)="hideWindows()" *ngIf="showMask" [@fadeInOut]>
    </div>
    <div *ngIf="!showMask" [@fadeInOut] id="top-controls">
        <button (click)="toggleLogin()">Login</button>
        <button (click)="toggleHallOfFame()">Hall of Fame</button>
    </div>
    <div [ngClass]="{'active': showLogin}" id="login-window">
        <button (click)="toggleLogin()">Hide</button>
        <login></login>
    </div>
    <div [ngClass]="{'active': showHallOfFame}" id="hall-of-fame-window">
        <button (click)="toggleHallOfFame()">Hide</button>
        <hall-of-fame></hall-of-fame>
    </div>
</div>